.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1d23;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #444;
  transition: border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  min-height: 80px;
  height: 80px; /* Або фіксована висота */
}

.track:hover {
  border-color: #1db954;
}

.track > div {
  flex: 1;
  min-width: 0; /* Дозволяє текст обрізати */
  overflow: hidden;
}

.trackBox {
  background-color: inherit;
  /* height: 100%; */
}

.track h3 {
  margin: 0 0 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}

.track p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.track button {
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.track button:hover {
  background-color: #1ed760;
  transform: scale(1.1);
}

.track button:active {
  transform: scale(0.95);
}

.hidden {
  display: none;
}
