* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 60px; */
  gap: 24px;
  font-size: calc(10px + 2vmin);
  color: white;
  /* margin-bottom: 24px; */
}

.App-label {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  color: #1db954;
}
.mainContent {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    gap: 16px;
  }
}
